BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Attach
NamespaceIndentation: All
DerivePointerAlignment: false
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
AlignEscapedNewlines: Right
AlignOperands: Align
BinPackParameters: false
BinPackArguments: false
KeepEmptyLinesAtTheStartOfBlocks: false
